<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <h1>File Upload</h1>
  <hr/>
  <h4>Upload Single File:</h4>
  <form method="POST" th:action="@{/ui/fileupload}" enctype="multipart/form-data">
    <div align="right">
        <button type="submit" formaction="/ui/logout">LogOut</button> 
    </div>
    <input type="file" name="file" accept=".csv"/> <br/><br/>
    <button type="submit">Submit</button>
    
  </form>
  <hr/>
  <div >
    <p th:text="${message}"></p>
    <p style="color:red;" th:text="${error}"></p>
  </div>
</body>
</html>